<h1> Authors of Apptitude4u </h1>
<table class="table">
  
  <tbody>
    <tr>
      
      <td><%= image_tag("Remina.jpg", size: "150x150", class: "img-circle", title: "Remina") %></td>
      <td><a href="https://www.facebook.com/remina.agnes?fref=ts" target="_blank">Remina </a> has been doing his CSE B.E in K.C.G Institute Of Technology</td>
      
    </tr>
    <tr>
      
      <td><%= image_tag("karthick.jpg", size: "150x150", class: "img-circle", title: "Karthick") %></td>
      <td><p><a href ="https://www.facebook.com/profile.php?id=100007159956550&fref=photo" target="_blank">Karthick </a> has been doing his CSE B.E in Mamallan Engineering College</p>
        </td>
      
    </tr>
    <tr>
      
      <td><%= image_tag("achu.jpg", size: "150x150", class: "img-circle", title: "Achuthan") %></td>
      <td><a href="https://www.facebook.com/selvam.achu?fref=ts" target="_blank">Achu </a> has been doing his CSE B.E in Misrimal Navajee Munoth Jain Engineering College </td>
      
    </tr>
    <tr>
      
      <td><%= image_tag("bro.jpg", size: "150x150", class: "img-circle", title: "Goutham") %></td>
      <td><a href="https://www.facebook.com/goutham.palani.5" target="_blank">Goutham </a> has been working in Hewlett Packard Enterprise for 3 years </td>

      
    </tr>
<tr>
      
      <td><%= image_tag("swathi.jpg", size: "150x150", class: "img-circle", title: "Swathi Nagarajan") %></td>
      <td><a href="https://www.facebook.com/swathi.nagarajan.1?fref=ts" target="_blank">Swathi Nagarajan </a> has been doing his CSE B.E in S.S.N Engineering College </td>
      
    </tr>
  </tbody>
</table>
