<h1> Showing newly created post </h1>


<%= raw @post.question %> <br>
<%=raw @post.solution %> <br>
<%= raw @post.optionA %> <br>
<%= raw @post.optionB %> <br>
<%= raw @post.optionC %> <br>
<%= raw @post.optionD %> <br>
<%= raw @post.answer %> <br> <br>


<b><%= time_ago_in_words(@post.created_at) %> Ago </b>

