
<h1> Calendars  </h1>
<%= render_breadcrumbs %>

<ol>
<% if user_signed_in? %>
<li><%= link_to "Create Problem", new_calendar_url %></li>
<% end %>
<li><%= link_to "Show Formula", calendars_formula_url %></li>
<li><%= link_to "Show Problem", calendars_problems_url %></li>
<li><%= link_to "Take Test", calendars_test_url %></li>
<ol>
